{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Shop</title>
    <link rel="stylesheet" href="{% static 'css/blog-page.css' %}">
</head>
<body>
  <!-- Barra de navegação -->
  <nav class="navbar">
    <div class="left-section">
      <!-- Logo -->
      <div class="logo">
        <img src="{% static 'media/blog_images/paw-icon.svg' %}" alt="Logo">
      </div>

      <!-- Links -->
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <li><a href="#">Sobre nós</a></li>
      </ul>
    </div>

    <!-- Botão à direita -->
    <button class="btn">Marcar horários</button>
  </nav>
  <!-- Fim da barra de navegação -->

  <!-- Sessão de conteúdo do blog (cards/notícias/sugestões) -->
  <main class="content">
    <div class="main-title">
      <span>
        Blog
      </span>  
    </div>

    <div class="most-liked-title">
      <span>
        Postagens mais curtidas
      </span>
    </div>

    <!-- Sessão dos post mais curtidos -->
    <section class="most-liked-posts">
      <!-- Envelopador do Carrossel -->
      <div class="carousel-wrapper">
        <div id="prev-button" class="prev-button"><img src="{% static 'media/blog_images/prev-icon.png' %}" alt="prev-icon"></div>
        <!-- Carrossel -->
        <div id="carousel" class="carousel">
        <!-- Card com as informações de notícias/sugestões -->

          {%for p in blog_bar%}
          
          <div class="card-container">
            <div class="image-container">
              <img src="{{ p.imagem.url }}" alt="{{ p.title }}">
            </div>
            <h3 class="card-title">{{ p.titulo }}</h3>
            <div class="description-container">
              <span class="description">{{ p.conteudo | truncatewords:30 }}...</span>
            </div>
            <div class="author-container">
              {%for a in p.autor.all %}
              <span class="author">
                Por <strong>{{ a.nomeautoridade }}</strong>
              </span>
              {% endfor %}
            </div>

            <!-- Informaçẽos de tag e data de publicação -->
            <div class="card-footer">
              {% for t in p.tags.all %}
              <div class="tag" style="--tag-color: {{ t.cor }};">
                <span title="{{ t.descricao }}">
                  {{ t.nome }}
                </span>
              </div>
              {% endfor %}
              <div class="date">
                <span>
                  {{ p.data_criada|date:'d/m/Y' }}
                </span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Fim do carrossel -->
        <div id="next-button" class="next-button"><img src="{% static 'media/blog_images/next-icon.png' %}" alt="next-icon"></div>
      </section>
    <!-- Fim da sessão dos post mais curtidos -->

    <!-- Botões de filtragem e ordenação -->
    <div class="filter-order-container">
      <form method="get" action="">
        <input type="hidden" name="ordem" value="{{ request.GET.ordem }}">
        <div class="filter-button">
          <button id="filter-button" class="btn-filter" type="button">
            <img src="{% static 'media/blog_images/filter.png' %}" alt="">
            <span>
              Filtrar
            </span>
          </button>
          <!-- Menu de filtros -->
          <div id="menu-filter"class="filter-menu">
            <ul>
              {% for tag in all_tags %}
              <li>
                <input onchange="this.form.submit()" type="checkbox" name="tags" value="{{ tag.nome }}" {% if tag.nome in selected_tags %}checked{% endif %}/>
                <span name="tags" class="tag-2" style="--tag-color: {{ tag.cor }};">{{ tag.nome }}</span>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </form>

      <div class="order-button">
        <button id="order-button" class="btn-order">
          <img src="images/order-icon.png" alt=""></img>
          <span>
            Ordenar           
          </span>
        </button>
        <!-- Menu de ordenação -->
        <div id="menu-order" class="order-menu">
          <ul>
            <form method="get" action="">
              <li>
                <input type="radio" onclick="this.form.submit()" name="ordem" value="recente" {% if request.GET.ordem == 'recente' %}checked{% endif %}><span class="newer">Mais recentes</span>
              </li>
              <li>
                <input type="radio" onclick="this.form.submit()" name="ordem" value="antigo" {% if request.GET.ordem == 'antigo' %}checked{% endif %}><span class="older">Mais antigos</span>
              </li>
              <li>
                <input type="radio" onclick="this.form.submit()" name="ordem" value="popular" {% if request.GET.ordem == 'popular' %}checked{% endif %}><span class="most-popular">Mais populares</span>
              </li>
            </form>
          </ul>
        </div>
      </div>
    </div>
    <!-- Fim dos botões de filtragem e ordenação -->

    <!-- Sessão de notícias em card horizontais -->
    <section class="news-container">
      <!-- Card com as informações de notícias/sugestões -->
      {% for p in blog_post %}
      <div class="news-card-container">
        <div class="image-container">
          <img class="news-img" src="{{ p.imagem.url }}" alt="{{ p.titulo }}">
        </div>
        <div class="news-card-content">
          <span class="news-title">
              {{ p.titulo }}
          </span>
          <div class="description-container">
            <span class="description">{{ p.conteudo | truncatewords:60 }}</span>
          </div>
          <div class="author-container">
            {% for a in p.autor.all %}
            <span class="author">
              Por <strong>{{ a.nomeautoridade }}</strong>
            </span>
            {% endfor %}
          </div>
        <!-- Informaçẽos de tag e data de publicação -->
          <div class="card-footer">
            {% for tag in p.tags.all %}
            <div class="tag" style="--tag-color: {{ tag.cor }};">
              <span>
                {{ tag.nome }}
              </span>
            </div>
            {% endfor %}
            <div class="date">
              <span>
                {{ p.data_criada | date:"d/m/Y" }}
              </span>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </section>
    <!-- Fim da sessão de notícias em card horizontais --> 
    
    <!-- Paginação -->
    <div class="pagination">
      {% for i in blog_post.paginator.page_range %}
        <a href="?page={{ i }}" class="page-link {% if i == blog_post.number %}active{% endif %}">{{ i }}</a>
      {% endfor %}
     </div>  
    <!-- Fim da paginação -->

  </main>
  <!-- Fim da sessão de conteúdo do blog -->

  <!-- Rodapé -->
  <footer class="footer">
  <div class="footer-container">
    <!-- Icone do site -->
     <div class="petshop-icon">
      <img src="{% static 'media/blog_images/petshop-icon.svg' %}" alt="">
     </div>
    <!-- Contatos -->
    <div class="footer-contacts">
      <h3>CONTATO</h3>
      <ul class="contacts-list">
        <li>+55 21 99999-9999</li>
        <li>contato@animalisecare.com</li>
      </ul>
      <ul  class="address-list">
        <li>Rua ali perto, 42 - Cadelária</li>
        <li>Rio Grande do Norte</li>
      </ul>
      <ul class="social-media-list">
        <li><img src="{% static 'media/blog_images/instagram.svg' %}" alt="Icone do Instagram"></li>
        <li><img src="{% static 'media/blog_images/facebook.svg' %}" alt="Icone do Facebook"></li>
        <li><img src="{% static 'media/blog_images/youtube.svg' %}" alt="Icone do Youtube"></li>
      </ul>
    </div>
    <!-- Informações -->
    <div class="footer-info">
      <h3>INFORMAÇÕES</h3>
      <ul class="info-list">
        <li>Exames laboratoriais</li>
        <li>Consultas Veterinarias</li>
        <li>Plano PET de saúde</li>
        <li>Quem somos?</li>
      </ul>
    </div>
  </div>
  <!-- Direitos reservados -->
  <div class="copyright">
      <span>EJECT © Alguns Direitos Reservaods</span>
    </div>
</footer>
<!-- Fim do rodapé -->

</body>
<script src="{% static 'js/blog-page.js' %}"></script>
</html>